[mysqld]
lower_case_table_names=1
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ALLOW_INVALID_DATES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
transaction_isolation=REPEATABLE-READ
skip_name_resolve=ON
back_log = 250
collation_database=utf8mb4_general_ci
collation_server=utf8mb4_general_ci
coredumper
default_authentication_plugin=mysql_native_password
create_admin_listener_thread=ON
innodb_buffer_pool_size=2G
innodb_buffer_pool_instances=12
enforce_gtid_consistency=ON
gtid_mode=ON
innodb_adaptive_hash_index=OFF
innodb_doublewrite_files=24
innodb_flush_method=O_DIRECT
innodb_max_dirty_pages_pct=75
innodb_max_dirty_pages_pct_lwm=0
innodb_numa_interleave=ON
innodb_open_files=4096
innodb_page_cleaners=4
innodb_stats_persistent_sample_pages=500
innodb_thread_concurrency=48
innodb_thread_sleep_delay=0
key_buffer_size=33554432
log_error_verbosity=3
log_slow_verbosity='microtime,query_plan,innodb'
log_timestamps=SYSTEM
long_query_time=0.4
#max_connections=2000
max_error_count=64
max_slowlog_files=50
max_slowlog_size=10485760
net_read_timeout=60
open_files_limit=65535
optimizer_trace_max_mem_size=32768
range_optimizer_max_mem_size=0
read_buffer_size=1048576
read_rnd_buffer_size=1048576
replica_net_timeout=30
skip_name_resolve
slow_query_log=ON
thread_cache_size=64
thread_pool_size=16
userstat=ON
tmp_table_size=33554432
wait_timeout=1800
table_open_cache=4096
table_definition_cache=1024
host_cache_size=703
event_scheduler=OFF
sort_buffer_size=2097152
init_file=/etc/mysql/conf.d/init_server.sql